@import "styles/global-variables";

.title-bar {
  height: $toolbar-height;
  padding: 0 $default-spacing;
  h1 {
    margin: 0;
    line-height: $toolbar-height;
  }
  a {
    padding: 0 $default-spacing;
    line-height: $toolbar-height;
    cursor: pointer;
    border-bottom: 1px solid white;
    &:hover {
      font-weight: bold;
      border-bottom: 2px solid white;
    }
  }
}

.content-container {
  height: calc(100% - #{$toolbar-height});
  position: relative;
  overflow: auto;
}
