@import "styles/global-variables";
@import "styles/palette";

.title-bar {
  height: $toolbar-height;
  padding: 0 $default-spacing;
  h1 {
    margin: 0;
    line-height: $toolbar-height;
  }
  .left-content {
    display: flex;
    flex-direction: row;
    a {
      padding: 0 $default-spacing;
      line-height: $toolbar-height;
      cursor: pointer;
      text-decoration: none;
      color: white;
      &.selected {
        border-bottom: 2px solid white;
      }
      &:hover {
        font-weight: bold;
      }
    }
    .user-square {
      line-height: calc(#{$toolbar-height} - #{$default-spacing});
      font-size: 1.5*$default-spacing;
      font-weight: bold;
      margin:  0.5*$default-spacing 0 0.5*$default-spacing $default-spacing;
      padding: 0 $default-spacing*0.5;
      background-color: white;
      color: $primary-color;
      text-transform: uppercase;
      border-radius: 2px;
      cursor: pointer;
      user-select: none;
    }
  }
}

.content-container {
  height: calc(100% - #{$toolbar-height});
  position: relative;
  overflow: auto;
}
